:root {
  --main-bg-color: #1b1b1e;
  --police-primary-color: #fbfffe;
}

.card-color {
  background: var(--main-bg-color);
  color: var(--police-primary-color);
}

.glass-effect {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.glass-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.glass-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.5s;
}

.glass-effect:hover::after {
  left: 100%;
}
